# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# visual studio
**/.vs/*
AAI/AAI/.vs/*
AAI/AAI/Debug/*
AAI/AAI/Release/*

*.vcxproj
*.vcxproj.*
AAI/AAI/lib/*.hpp
CG/Sjoerd/CS/CG/.vs/*

AAI/Assignment/Assignment/.vs/*
AAI/Assignment/.vs/*
AAI/Assignment/Assignment/Debug/*
AAI/Assignment/Assignment/x64/*
AAI/Assignment/x64/*

*.suo

# vs sjoerd 
cpp/sjoerd/cpp/debug/*
cpp/sjoerd/cpp/release/*
cpp/sjoerd/cpp/.vs/*

# Jetbrains
**/.idea/*
**/CMakeFiles/*
**/cmake-build-debug/*
**/cmake-build-release/*
**/bin/*
**/obj/*
/CG/Sjoerd/CS/CG/_CG.csproj
/CG/Sjoerd/CS/CG/_CG.sln
/CG/Sjoerd/CPP/Assignment/Program1/Debug
/CG/Sjoerd/CPP/Assignment/Debug
/.gitattributes

# CMake
**/cmake-build-debug/

# latex
/AAI/Assignment/Report/report.pdf
*.synctex.gz

